{% extends 'base.html.twig' %}

{% block title %}Villes{% endblock %}

{% block body %}
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Destinations</h6>
                <h1>Explorez les meilleures destinations</h1>
            </div>
            <div class="row">
                {% for city in cities %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="destination-item position-relative overflow-hidden mb-2">
                            <img class="img-fluid w-100 fixed-destination-img" src="{{ asset(city.imageUrl) }}" alt="{{ city.name }}">
                            <a class="destination-overlay text-white text-decoration-none"
                               href="{{ path('app_city_show', {'id': city.id}) }}">
                                <h5 class="text-white">{{ city.name }}</h5>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="col-12">
                        <p class="text-center">Aucune ville trouvée.</p>
                    </div>
                {% endfor %}
            </div>
            {% if is_granted("ROLE_ADMIN") %}
                <div class="text-center mt-4">
                    <a href="{{ path('app_city_new') }}" class="btn btn-primary">Créer une nouvelle ville</a>
                </div>
            {% endif %}
        </div>
    </div>


    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Guides</h6>
                <h1>Nos guides de voyage</h1>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
                    <div class="team-item bg-white mb-4">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="/upload/guide/samia.webp" alt="">
                            <div class="team-social">
                                <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h5 class="text-truncate">SAMIA ALAMI</h5>
                            <p class="m-0"><i class="fa fa-phone-alt mr-2"></i> 06 12 34 56 78</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
                    <div class="team-item bg-white mb-4">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="/upload/guide/taoufik.jpg" alt="">
                            <div class="team-social">
                                <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h5 class="text-truncate">TAOUFIK ADIL</h5>
                            <p class="m-0"><i class="fa fa-phone-alt mr-2"></i> 06 12 34 56 78</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
                    <div class="team-item bg-white mb-4">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="/upload/guide/0cace0_f04f62976a03443a92539d109c95638c~mv2.avif" alt="">
                            <div class="team-social">
                                <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h5 class="text-truncate">YASMINE FARAHI</h5>
                            <p class="m-0"><i class="fa fa-phone-alt mr-2"></i> 06 12 34 56 78</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
                    <div class="team-item bg-white mb-4">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="/upload/guide/oussama.webp" alt="">
                            <div class="team-social">
                                <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h5 class="text-truncate">RAFIK OUSSAMA</h5>
                            <p class="m-0"><i class="fa fa-phone-alt mr-2"></i> 06 12 34 56 78</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Début Témoignages -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Témoignages</h6>
                <h1>Ce que disent nos clients</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="text-center pb-4">
                    <img class="img-fluid mx-auto" src="/upload/comment/comment1.jpg" style="width: 100px; height: 100px;">
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">Un service personnalisé et une équipe toujours disponible. Merci pour ces vacances parfaites .</p>
                        <h5 class="text-truncate">Nom du client</h5>
                    </div>
                </div>
                <div class="text-center">
                    <img class="img-fluid mx-auto" src="upload/comment/yasmin.webp" style="width: 100px; height: 100px;">
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">Une expérience inoubliable, je recommande vivement cette agence de voyage.</p>
                        <h5 class="text-truncate">Nom du client</h5>
                    </div>
                </div>
                <div class="text-center">
                    <img class="img-fluid mx-auto" src="/upload/comment/comment2.webp" style="width: 100px; height: 100px;">
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">Organisation au top du début à la fin, avec une réservation impeccable. Je referai appel à vous sans hésiter</p>
                        <h5 class="text-truncate">Nom du client</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Témoignages -->

{% endblock %}
