{% extends 'base.html.twig' %}
{% block title %}City{% endblock %}
{% block body %}

    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Blog Detail Start -->
                    <div class="pb-3">
                        <div class="blog-item">
                            <div class="position-relative">
                                <img class="img-fluid w-100" src="/upload/Welcome-To-Morocco.png" alt="Vue d'Oujda">
                            </div>
                        </div>
                        <p class="mt-5 text-justify font-weight-bold" style="font-size: 1.4rem;">
                            {{ city.description }}
                        </p>
                    </div>

                    <!-- Reservation -->
                    <div class="col-12 mt-5">
                        <h4 class="text-uppercase mb-2" style="letter-spacing: 5px;">Hotels</h4>
                        <div class="row g-4">
                            {% for hotel in city.hotels %}
                                <div class="col-md-4 mt-2 d-flex">
                                    <a class="d-flex flex-column text-decoration-none bg-white shadow-sm p-3 rounded w-100 h-100"
                                       href="{{ path('app_hotel_show', {'id': hotel.id}) }}">
                                        <img class="img-fluid rounded mb-2" src="{{ asset(hotel.image) }}" alt="Hotel"
                                             style="width: 100%; height: 100%; object-fit: cover;">
                                        <div>
                                            <h6 class="m-0 text-dark">{{ hotel.name }}</h6>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-12 mt-5">
                        <h4 class="text-uppercase mb-2" style="letter-spacing: 5px;">Restaurants</h4>
                        <div class="row g-4">
                            {% for restaurant in city.restaurants %}
                                <div class="col-md-4 mt-2 d-flex">
                                    <a class="d-flex flex-column text-decoration-none bg-white shadow-sm p-3 rounded w-100 h-100"
                                       href="{{ path('app_restaurant_show', {'id': restaurant.id}) }}">
                                        <img class="img-fluid rounded mb-2" src="{{ asset(restaurant.image) }}"
                                             alt="Restaurant" style="width: 100%; height: 100%; object-fit: cover;">
                                        <div>
                                            <h6 class="m-0 text-dark">{{ restaurant.name }}</h6>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-12 mt-5">
                        <h4 class="text-uppercase mb-2" style="letter-spacing: 5px;">Voitures</h4>
                        <div class="row g-4">
                            {% for car in city.cars %}
                                <div class="col-md-4 mt-2 d-flex">
                                    <a class="d-flex flex-column text-decoration-none bg-white shadow-sm p-3 rounded w-100 h-100"
                                       href="{{ path('app_car_show', {'id': car.id}) }}">
                                        <img class="img-fluid rounded mb-2" src="{{ asset(car.image) }}" alt="Car"
                                             style="width: 100%; height: 100%; object-fit: cover;">
                                        <div>
                                            <h6 class="m-0 text-dark">{{ car.name }}</h6>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between mt-4">
        <a href="{{ path('app_city_index') }}" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Back to list
        </a>
        {% if is_granted('ROLE_ADMIN') %}
            <div>
                <a href="{{ path('app_city_edit', {'id': city.id}) }}" class="btn btn-warning me-2">
                    <i class="bi bi-pencil-square"></i> Edit
                </a>
                {{ include('city/_delete_form.html.twig') }}
            </div>
        {% endif %}
    </div>

{% endblock %}
