{% extends 'base.html.twig' %}

{% block title %}Villes{% endblock %}

{% block body %}
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Restaurants</h6>
                <h1>Explorez les meilleures Restaurants</h1>
            </div>
            <div class="row">
                {% for restaurant in restaurants %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="destination-item position-relative overflow-hidden mb-2">
                            <img class="img-fluid w-100 fixed-destination-img" src="{{ asset(restaurant.image) }}" alt="{{ restaurant.name }}">
                            <a class="destination-overlay text-white text-decoration-none"
                               href="{{ path('app_restaurant_show', {'id': restaurant.id}) }}">
                                <h5 class="text-white">{{ restaurant.name }}</h5>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="col-12">
                        <p class="text-center">Aucune restaurant trouvée.</p>
                    </div>
                {% endfor %}

            </div>
            {% if is_granted("ROLE_ADMIN") %}
                <div class="text-center mt-4">
                <a href="{{ path('app_restaurant_new') }}" class="btn btn-primary">Créer un nouveau restaurant</a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
